<!doctype html>

<html>
  <head>
    <title>Translate v{{ version }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="static/js/kickstart.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/chosen/0.9.15/chosen.jquery.min.js"></script>

    <link rel="stylesheet" href="static/css/kickstart.css" media="all" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/0.9.15/chosen.css" />
    <script type="text/javascript">
      $(document).ready(function() {
        $(".select").chosen();
      });
    </script>
  </head>

  <body class="subpage">
    <div class="grid" id="wrapper">
      <h1 class="center"> Translation Server </h1>

      <hr />

      <div class="col_5">
        <textarea class="col_12" id="textarea1" placeholder="Hello, world!"></textarea>

        <select tabindex="2" class="col_12 select" data-placeholder="Source language">
          <option value=""></option>
        </select>
      </div>

      <div class="col_2" style="margin-top: 20px;">
        <button style="width:100%" id="switch" class="small center">
          <i class="center icon-exchange"></i>
        </button>
        <button style="width:100%; margin-top: 20px"
                id="translate" class="small center">
          Translate
        </button>
      </div>

      <div class="col_5">
        <textarea readonly class="col_12" id="textarea1" placeholder="Hallo, Welt!"></textarea>
        <select tabindex="2" class="col_12 select" data-placeholder="Destination language">
          <option value=""></option>
        </select>
      </div>

      <hr />

      <div class="footer">
        <p>
          <a href="https://github.com/boredomist/translate">Source</a> available under GPLv3
        </p>
      </div>

    </div>
  </body>
</html>