<!doctype html>

<html>
  <head>
    <meta charset='utf-8'>
    <title>Translate v{{ version }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="static/js/kickstart.js"></script>
    <script src="static/js/langs.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/chosen/0.9.15/chosen.jquery.min.js"></script>

    <link rel="stylesheet" href="static/css/site.css" media="all" />
    <link rel="stylesheet" href="static/css/kickstart.css" media="all" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/0.9.15/chosen.css" />
    <script src="static/js/index.js"></script>

    <script type="text/javascript">
      $(function() {
        Translate.init();

        $("#from").chosen();
        $("#to").chosen();

        var from = [], to = [];

        for(var idx in Translate.pairs) {
          var pair = Translate.pairs[idx];

          if(from.indexOf(pair[0]) < 0)
            from.push(pair[0]);

          if(to.indexOf(pair[1]) < 0)
            to.push(pair[1]);
        }

        from.sort().map(function(elem) {
            var name = getLanguageName(elem) || elem;
            $("#from").append("<option value=" + elem + ">" + name +
                              "</option>");
        });

        to.sort().map(function(elem) {
            var name = getLanguageName(elem) || elem;
            $("#to").append("<option value=" + elem + ">" + name +
                              "</option>");
        });


        $("#from").trigger("liszt:updated");
        $("#to").trigger("liszt:updated");

        $("#from").chosen().change(function() {
            var selected = $("#from").val();

            $("#to").html("<option value=''></option>");

            Translate.getToChoices(selected).map(function(choice) {
                var name = getLanguageName(choice) || choice;
                $("#to").append("<option value=" + choice + ">" + name +
                                "</option>");
            });

            $("#to").trigger("liszt:updated");
          });

        $("#translate").click(function() {
            var text = $("#from_area").val();
            var from = $("#from").val(), to = $("#to").val();

            if(text == "") {
              // Don't need to be noisy, just exit
              return;
            }

            if(from == "" || to == "") {
              Translate.error("Select a language!");
              return;
            }

            Translate.translateText(text, from, to);
        });

      });
    </script>
  </head>

  <body class="subpage">
    <div class="grid" id="wrapper">
      <h3 class="center"> Translation Server </h3>

      <div id="flash" class="col_12">
      </div>

      <div class="col_12">
        <select tabindex="2" id="from" class="select"
                data-placeholder="Source language">
          <option value=""></option>
        </select>

        <i class="icon-arrow-right"></i>

        <select tabindex="2" id="to" class="select"
                data-placeholder="Destination language">
          <option value=""></option>
        </select>

        <button  id="translate" class="small center">
          Translate
        </button>

      </div>

      <textarea class="col_6" id="from_area"
                placeholder="Text to translate... "></textarea>

      <textarea readonly class="col_6" id="to_area"></textarea>

      <hr />

      <div class="footer">
        <a href="https://github.com/boredomist/translate">Source</a> available under GPLv3.

        <span>
          <a href="http://boredomist.github.io/translate">Documentation</a>
          <a href="/info">Server information</a>
        </span>
      </div>

    </div>
  </body>
</html>