<!doctype html>

<html>
  <head>
    <title>Translate Server Information</title>
    <script src="/static/js/vendor.js"></script>
    <script src="static/js/langs.js"></script>

    <link rel="stylesheet" href="/static/css/vendor.css" media="all" />
    <link rel="stylesheet" href="/static/css/site.css" media="all" />
  </head>

  <body class="subpage">
    <div class="grid" id="wrapper">
      <h3 class="center"> Server Information </h3>

      <div class="col_12">
        <p>
          This server is running translate version {{ version }}.
        </p>

        <div class="col_6">
          <h4>Backends</h4>

          <ul class="alt" id="translators">
        {% for backend in backends %}
            <li>
              <a href="{{ backend.url }}">
                <b> {{ backend.name }} </b>
              </a>
              <p> {{ backend.description }} </p>
            </li>
        {% endfor %}
          </ul>

          <h4> API Support </h4>
          This server supports the following HTTP API revisions:
          <ul class="alt" id="apis">
            {% for api in supported_api %}
            <li>
              {{ api }}
            </li>
            {% endfor %}
          </ul>

          <h4> Limiting </h4>
          <h5> Size Limit </h5>
          {% if sizelimit %}
            <p>
              Server limits translation requests to {{ sizelimit }}
              bytes.
            </p>
          {% else %}
            <p>
              Server does not limit individual translation request sizes.
            </p>
          {% endif %}

          <h5> Rate Limit </h5>
          {% if ratelimit %}
          <p>
            Server limits API requests to {{ ratelimit.limit }} requests every
            {{ ratelimit.per }} seconds.
          </p>

          <table class="tight striped sortable">
            <thead>
              <tr>
                <th>API endpoint</th>
                <th>Remaining requests</th>
              </tr>
            </thead>

            <tbody>
              {% for key in ratelimit.methods %}
              <tr>
                <td> <pre>{{ key }}</pre> </td>
                <td> {{ ratelimit.methods[key] }} </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% else %}
            <p>
              Server does not rate limit API requests.
            </p>
          {% endif %}
          <hr />
        </div>

        <div class="col_6">
          <h4>Language Pairs</h4>

          <table class="tight striped sortable">
            <thead>
              <tr>
	        <th>From</th>
	        <th>To</th>
              </tr>
            </thead>

            <tbody>
            {% for pair in pairs %}
              <tr>
                <td> {{ pair[0] }} </td>
                <td> {{ pair[1] }} </td>
              </tr>
            {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </body>
</html>