@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

html {
    font-family: 'Open Sans', sans-serif;
}

.select {
    display: inline-block;
    width: 300px;
}

button {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    float: right;
}

.footer span {
    float: right;
}

.footer {
    font-size: .8em;
}

.footer a {
    color: #777;
}

.footer a:hover {
    color: #000;
}